:root {
    --primary-color: rgba(0, 0, 255, 0.891);
    --secondary-color: rgb(204, 196, 196);
    --text-color: rgb(55, 55, 55);
    --background-color: rgb(57, 74, 88);
    --hover-color: rgb(255, 115, 0);
    --clr-white: hsl(208, 100%, 97%);
    --ylw: yellow;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    /* border: 2px solid black; */
}

.topNav {
    display: flex;
    justify-content: space-between;
}

.topNav ul {
    margin: 0;
    padding: 0;
}

.topNav ul li {
    list-style-type: none;
    display: inline-block;
}

.topNav ul li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
    display: inline-block;
    
}

.topNav ul li a:hover {
    color: var(--hover-color);
}
.topNav i{
    margin: 7px;
}

.logo img {
    margin-top: 1rem;
    height: 3rem;
    width: 15rem;
}

.search {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    
}
.search a {
    padding: 0.5rem;
    color: var(--clr-white);
    background-color: var(--primary-color);
}
.search button{
    padding: 0.5rem;
}

.search input {
    width: 20rem;
}

.search button {
    background-color: var(--primary-color);
    color: var(--clr-white);
    
}

.options {
    display: flex;
    justify-content: space-around;
   
}
.options div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
}
.options img {
    height: 2rem;
    width: 2rem;
    align-self: center;
}

.options label {
    justify-content: space-evenly;
    font-size: small;
}
.options div{
    padding: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.cart {
    padding: 4px;
   
}
.cartButton {
    display: inline-block;
    padding: 4px;
    margin: 5px;
    margin-top:15px;
    background-color: var(--primary-color);
    color: var(--clr-white);
}
nav {
    background-color: var(--primary-color);
    font-weight: 450;
  }
  
  .navbaroptions {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  
  }
  
  .navoptions {
    font-size: larger;
    list-style-type: none;
  
  }
  
  .navoptions li {
    
    padding: 8px;
    display: inline-block;
  
  }
  
  .navoptions li a {
    font-size: medium;
    padding: 8px;
    color: var(--clr-white);
  }
  
  .navoptions li a:hover {
    padding: 30px;
    background-color: var(--ylw);
    color: black;
  
  }
.main {
    /* padding: .5rem; */
    display: flex;
    justify-content: center;
    justify-content: space-around;
    /* margin: 0 6.5%; */
   
}

.bigImage {
    position: relative;
    padding: 2px;
    width: 75%;
    margin: 1rem;
}

.bigImage img {
    border-radius: 3rem;
    height: 100%;
    width: 100%;
}

.bigImage a {
    position: absolute;
    top: 80%;
    left: 4%;
    text-decoration: none;
    background: transparent;
    border: 2px solid rgb(129, 124, 124);
    font-size: medium;
    color: var(--text-color);
    display: inline;
    border-radius: 4px;
    padding: 1rem;
}

.bigImage a img {
    height: 1rem;
    width: 1rem;
    margin-left: 6px;
    vertical-align: middle;
}

.sub {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
}

.sub div {
    padding: 0.2rem;
}

.img1 {
    border-radius: 1rem;
    height: 100%;
    width: 100%;
}

.img2 {
    border-radius: 1rem;
    height: 100%;
    width: 100%;
}

.category{
    background-color: var(--background-color);
   
}
.subCategory {
    display: flex;
    justify-content: space-evenly;
}

.freeShip {
    display: flex;
}

.subCategory p {
    color: rgb(128, 123, 123);
    margin: 1.6rem 0rem;
}

.subCategory b {
    color: rgb(185, 191, 196);
    font-size: larger;
}

.freeReturns {
    display: flex;
}

.secure {
    display: flex;
}

.unlimitedBlocks {
    display: flex;
}

.features {
    margin: 2rem;
}

.features img {
    border: 2px solid rgb(86, 86, 179);
    border-radius: 100%;
    padding: 2rem;
    height: 1.5rem;
    width: 1.5rem;
}

.buyFromUs h2 {
    text-align: center;
}

.buyFromUs p {
    text-align: center;
}

.buyFromUs hr {
    margin-left: 55rem;
    margin-right: 55rem;
}

.productOptions {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 2rem;
}

.productOptions li {
    background-color: var(--secondary-color);
    border: .1px solid grey;
    padding: 1rem;
}

.productOptions li:hover {
    background-color: var(--primary-color);
    color: var(--clr-white);
}

.topCategories {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.topCategories p {
    position: absolute;
    text-align: center;
    background-color: var(--clr-white);
    top: 80%;
    left: 20%;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: medium;
    border: none;
}

.topCategories div {
    position: relative;
}

.topCategories img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 3rem;
}

.fashion {
    left: 22%;
}

.bags {
    left: 35%;
}

.health {
    left: 45%;
}

.footwear {
    left: 60%;
}

.decor {
    left: 70%;
}
